@font-face { font-family:Artill; src: url("../fonts/artill clean weather icons Regular.ttf"); }
@font-face { font-family:PhilosopherBold; src: url("../fonts/Philosopher-Bold.ttf"); }
@font-face { font-family:PhilosopherRegular; src: url("../fonts/Philosopher-Regular.ttf"); }
@font-face { font-family:RobotoThin; src: url("../fonts/Roboto-Thin.ttf"); }
@font-face { font-family:RobotoLight; src: url("../fonts/Roboto-Light.ttf"); }
@font-face { font-family:RobotoMedium; src: url("../fonts/Roboto-Medium.ttf"); }
@font-face { font-family:RobotoBold; src: url("../fonts/Roboto-Bold.ttf"); }

.body{
    z-index: -999;
}

.bg{
        background: linear-gradient(330deg, rgba(255,255,255,0) 0%, rgba(180,214,248,0) 36%, rgba(176,212,248,0.06) 38%, rgba(176,212,248,1) 66%),
    linear-gradient(208deg, rgba(207,165,232,0) 0%, rgba(207,162,231,0) 39%, rgba(207,161,231,1) 56%, rgba(207,159,231,1) 100%),
    linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(226,230,252,0) 17%, rgba(102,123,241,1) 90%, rgba(86,109,240,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: max-content;
    background-attachment: fixed;
    z-index: -2;
    /* overflow: hidden; */
}

.gridSection{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns:  200px 200px 200px 200px 200px;
    grid-template-rows: 350px 185px 275px 80px;
    height: max-content;
    padding-top: 10vh;
}

.gridSection .location1 {
    grid-row: 1;
    grid-column: 1/6;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr;
    margin: 10px;
    margin-bottom: 30px
}

.gridSection .location1 .area1 {
    background-color: white;
    grid-column: 1;
    margin-right: 10px;
    margin-left: 0px;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.gridSection .location1 .area1 .sublocation1{
    grid-row: 1;
    grid-column: 1;
}

.gridSection .location1 .area1 .sublocation2{
    align-items: end;
    text-align: end;
    grid-row: 1;
    grid-column: 2;
}

.gridSection .location1 .area1 .sublocation3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
    grid-column: 1/spans;
    border-bottom-style: dotted;
    border-color: #454545;
    padding-bottom: 30px;

}

.gridSection .location1 .area1 .sublocation4{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    align-items: center;
}

.gridSection .location1 .area1 .sublocation5{
    grid-row: 3;
    grid-column: 2;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}

.gridSection .location1 .area2 {
    background-color: white;
    grid-column: 2;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 25px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
    padding-bottom: 10%;
}

.gridSection .location1 .area2 .sublocation1{
    grid-row: 1;
    grid-column: 1;
    font-family: RobotoThin;
    font-size: 25px;
    color: #454545;
    letter-spacing: 4px;

    font-family: RobotoLight;
    font-size: 30px;
    color: gray;
    letter-spacing: 4px;
}

.gridSection .location1 .area2 .sublocation2{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: end;
    text-align: end;
    
}

.gridSection .location1 .area2 .sublocation3{
    grid-row: 2;
    grid-column: 1;
    border-right-style: dotted;
    border-color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridSection .location1 .area2 .sublocation4{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridSection .location1 .area2 .sublocation5{
    grid-row: 2;
    grid-column: 3;
    border-left-style: dotted;
    border-color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridSection .location2 {
    background-color: rgba(256,256,256,.5);
    grid-row: 2;
    grid-column: 1;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
.gridSection .location3 {
background-color: rgba(256,256,256,.5);
    grid-row: 2;
    grid-column: 2;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
.gridSection .location4 {
background-color: rgba(256,256,256,.5);
    grid-row: 2;
    grid-column: 3;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
.gridSection .location5 {
background-color: rgba(256,256,256,.5);
    grid-row: 2;
    grid-column: 4;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
.gridSection .location6 {
background-color: rgba(256,256,256,.5);
    grid-row: 2;
    grid-column: 5;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}



.gridSection .location7 {
    grid-row: 3;
    grid-column: 2/5;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: self-start;
    align-items: start;
}

.gridSection .location7B {
    grid-row: 4;
    grid-column: 2/5;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: self-start;
    align-items: start;
}

.gridSection .location8 {
    grid-row: 3;
    grid-column: 1/6;
    border-radius: 10px;
    margin: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(256,256,256,.5);
}

.gridSection .location8 .grid{
    display: grid;
    grid-template-columns:  500px 133px 133px 133px;
    grid-template-rows: 80px 140px;

}

.gridSection .location8 .forecastTemp{
    font-family: PhilosopherRegular;
    font-size:60px;
    color: #454545
}

.gridSection .location8 .text{
    font-family: RobotoLight;
    font-size: 20px;
    color: #454545
    
}

.gridSection .location8 .forecastWeatherIcon{
    font-family: Artill;
    font-size: 120px;
    line-height: 100px;
    margin-bottom: -30px;
    margin-top: 10px;
    margin-left: 0px !important;
    
}

.gridSection .location8 .grid .area1{
    grid-row: 1;
    grid-column: 1;
    border-bottom-style: dotted;
    border-color: grey;
    margin-right: 30px;
}

.gridSection .location8 .title{
    font-family: RobotoLight;
    font-size: 30px;
    color: #454545;
    letter-spacing: 4px;
}

.gridSection .location8 .description{
    font-family: RobotoLight;
    font-size: 30px;
    color: #454545;
    padding-top: 25px;
}

.gridSection .location8 .grid .area2{
    grid-row: 2;
    grid-column: 1;
}

.gridSection .location8 .grid .area3{
    grid-row: 1/spans;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridSection .location8 .grid .area4{
    grid-row: 1/3;
    grid-column: 3;
    border-right-style: dotted;
    border-left-style: dotted ;
    border-color: grey;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.gridSection .location8 .grid .area5{
    grid-row: 1/3;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#placeID{
    font-family: RobotoLight;
    font-size: 30px;
    color: gray;
    letter-spacing: 4px;
}

#currentWeatherTempID{
    font-family: PhilosopherRegular;
    font-size: 125px;
    line-height: 125px;
    padding-left: 10px;
    color: #454545
}

#currentWeatherDescriptionID{
    font-family: PhilosopherRegular;
    font-size: 30px;
    color: #454545
}

#currentHLID{
    font-family: PhilosopherRegular;
    font-size: 30px;
    color: #454545
}

#timeID{
    font-family: RobotoLight;
    font-size: 25px;
    color: gray;
}

.time{
    font-family: RobotoLight;
    font-size: 21px;
    
}

#temp8amID{
    font-family: PhilosopherRegular;
    font-size:60px;
    color: #454545
    
}

#temp12pmID{
    font-family: PhilosopherRegular;
    font-size:60px;
    color: #454545
}

#temp8pmID{
    font-family: PhilosopherRegular;
    font-size:60px;
    color: #454545
}

.day{
    font-family: RobotoLight;
    font-size: 20px;
}

.HighLow{
    font-family: RobotoMedium;
    font-size: 20px;
}

#currentWeatherIconID{
    align-self: center;
    font-family: Artill;
    font-size: 168px;
    line-height: 5px;
    margin-top: 24px;
    margin-left: -10px;
}

.weatherIconForecastedToday{
    font-family: Artill;
    font-size: 120px !important;
    line-height: 100px;
    margin-bottom: -15px;
    margin-left: 0px !important;
}

.weatherIcon{
    font-family: Artill;
    font-size: 60px; 
    line-height: 100px;
    margin-bottom: -15px;
    margin-top: -20px;
    color: black !important;
}

#favoriteBtnID{
    width: 35px ;
    height: auto;
    margin-right: -20px;
    background-image: src("../assets/FavoriteIcon.png");
}

.navbar{
    width: 1000px;
    height: 10vh;
}

.navbar-brand{
    font-family: PhilosopherBold;
    font-size:40px;
    color: grey;
}

#searchBtnID{
    width: 50px;
    height: auto;

}

.form-control{
    width: 330px;
    border-radius: 12px;
    font-size: 0.8rem;
    color:  #939393;
}

.side-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 420px; /* Adjust width as needed */
    height: 100%;
    background-color: rgba(250,250,250,0.7);
    background-attachment: fixed;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    z-index: 999; /* Ensure the side container appears above the content */


  }

  .side-container .title{
    font-family: RobotoMedium;
    color: grey;
    font-size: 20px;
  }

  .side-container .exitFavoritesBtn{
    width: 30px;
    height: auto;
  }

  .side-container .favoritedCity{
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin-right: 20px;
    border-radius: 10px;
  }

  .side-container .favoritedCity .text{
    color: #707070;
    font-family: RobotoBold;
    font-size: 20px;

  }

  .side-container .favoritedCity .x{
    width: 20px;
  }

  .side-container .slider{
    position: absolute;
    left: 0;
    width: 400px; /* Adjust width as needed */
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    z-index: 999; /* Ensure the side container appears above the content */
    padding-right: 20px;
    z-index: 1;
  }

  .sun{
    position: absolute;
    left: -120vh;
    bottom: -75vh;
    width: 275vh;
    height: auto;
    z-index: -1;
  }

  .footer{
    height: 200px;
  }